numpy>=1.21.6,<1.24.0
scipy>=1.9.0,<1.12.0
numba>=0.56.0,<0.57.0
opencv-python>=4.7.0,<4.8.0
pydantic>=1.10.0,<1.11.0
deepl
edge_tts
googletrans==3.1.0a0
natsort
nltk
pyasstosrt
pyautogui
pydub
pyperclip
pysrt
pysubs2
pyttsx3
rich
six